{% use "front/utilities/form/tailwind_base_layout.html.twig" %}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' mt-9 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- set label_attr = label_attr|merge({for: id}) -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' block text-sm font-medium text-gray-700')|trim}) %}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        </label>
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}

{% block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ (' border-danger'))|trim}) -%}
    {%- endif -%}
    {% if type is not defined or type != 'hidden' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ (type|default('') == 'file' ? ' custom-file-input' : ' form-input mt-2 block w-full border border-gray-300 rounded py-2 px-3 focus:border-primaire focus:ring-0'))|trim}) -%}
    {% endif %}
    {%- if type is defined and (type == 'range' or type == 'color') %}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {% endif %}
    <div class="mt-1">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock form_widget_simple %}

{% block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' ')|trim})} %}{{ block('attributes') }}{% endwith %}>
    {% if false == required %}<div class="flex justify-between">{% endif %}
    {{- form_label(form) -}}
    {% if false == required %}
        <span id="{{ id ~ '_description'}}" class="text-sm text-gray-500">Optional</span>
        </div>
    {% endif %}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' normal-case text-xs text-gray-700 font-light')|trim}) -%}
        <p id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </p>
    {%- endif -%}
{%- endblock form_help %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="text-danger font-normal text-sm normal-case">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{% block checkbox_widget -%}
    <input type="checkbox" class="text-primaire focus:ring-0" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ '  form-input mt-2 block w-full border border-gray-300 rounded py-2 px-3 focus:border-primaire focus:ring-0')|trim}) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {%- set render_preferred_choices = false -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div class="mt-4 grid grid-cols-1 gap-y-4" {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center">
                {{- form_widget(child, {'attr': {'class': 'focus:ring-grape-500 h-4 w-4 text-grape-600 border-gray-300'}}) -}}
                {{- form_label(child, null, {'label_attr': {'class': 'ml-3'}, 'translation_domain': choice_translation_domain}) -}}
            </div>
          {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}
